body{
    background-color: aqua;
}

div{
    border: 10px solid black;
    height: 400px;
    width: 800px;
    text-align: center;
    border-radius: 20px;
    padding-top: 250px;
    margin-left: 330px;
    margin-top: 37px;
}

